.mw_detail {
  .pane-pane-messages {
    display: none;
  }
  .pane-title {
    padding: 10px;
  }
  .panels-flexible-row-ProductFamilyHome-main-row-inside {
    padding: 10px;
  }
  #prod_bg_img_cont_holder {
    height: 280px;
    padding: 10px;
    border: $border_gray3;
    text-align: center;
    img {
      height: 100%;
    }
  }
  .product_detail_content_block {
    margin-top: 15px;
  }
  .product_catalog_tabNavigation .mw_bar_black {
    margin: 0px;
  }
  .prod_tab_class {
    padding: 0px 10px;
    border-bottom: $border_black;
  }
  .products_recommends {
    padding: 10px;
    margin-top: 10px;
  }
  .product_blocks {
    border-bottom: $border_gray1;
  }
  .product_display {
    text-align: center;
  }
  .mw_items_container {
    padding-top: 18px;
  }
}
