.mw_footer_links {
  .cookie_policy_sub_container, .privacy_policy_sub_container, .legal_noice {
    padding: 10px;
    p {
      padding-bottom: 20px;
      line-height: $line_height;
      span {
        display: block;
        font-weight: bold;
      }
    }
    h4 {
      display: block;
      font-weight: bold;
      padding-bottom: 20px;
    }
  }
  .pane-title, .pane-page-breadcrumb {
    display: none;
  }
}
