// Every page should have a class on the body
// Scope that in each file at the start
.mw_home {
  .pane-page-content h2 {
    display: none;
  }
  .mw_pics {
    margin: 10px 0px;
  }
  .push_content_body {
    padding: 0px;
  }
  .row .row {
    margin-left: auto;
    margin-right: auto;
  }
  .row {
    overflow: hidden;
  }
  .learn.home_kicker_read_more_link {
    padding: 0px;
    text-align: center;
  }
  .mw_row {
    border-top: $border_gray1;
    padding-bottom: 10px;
    line-height: $line_height - 1px;
    a.learn {
      margin-top: 5px;
      display: inline-block;
    }
  }
  .home_push_content_text_image_big_style, .home_push_content_text_image_style {
    h3 {
      padding: 10px;
      a {
        color: $text_color;
        font-weight: bold;
      }
    }
  }
  .mw_home_page_nav {
    padding: 10px;
    padding-bottom: 0px;
    clear: both;
    a {
      display: block;
      br {
        display: none;
      }
    }
    .extra_cat {
      display: none;
    }
  }
  .mw-dots {
    text-align: right;
    margin-top: -25px;
    padding: 0px 20px;
    .mw-dot {
      height: 10px;
      width: 10px;
      @include border-radius(5px);
      background-color: gray;
      opacity: .4;
      display: inline-block;
      margin: 2px;
      &:first-of-type {
        opacity: 1;
      }
    }
  }
}
