.mw_product {
  .pane-title {
    display: none;
  }
  .mw_page_heading {
    margin: 0px;
  }

  .mw_img_column {
    text-align: center;
    padding-top: 25px;
    img {
      width: auto;
    }
  }

  .cat-pro, .ind_prod, .row {
    overflow: hidden;
  }
  .ind_prod {
    border-bottom: $border_gray1;
  }

  .mw_second_column {
    padding-top: 25px;
    h1 {
      font-weight: bold;
      margin-bottom: 7px;
    }
    p {
      margin-bottom: 7px;
    }
    > a {
      font-weight: bold;
      font-size: .8em;
    }
  }
}
