// BARS
// -----------------------------

/*
  - bar_base: build bars using this
  - bar_link: styles for bars that have links
  - bar_accordion: styles for bars that are accordions
  - bar_gray1: bar using gray1 as a color
  - bar_gray2: bar using gray2 as a color
*/

// Global styles applied to all bars
@mixin bar_base {
  position: relative;
  padding: $padding;
  line-height: 1.4;
  font-size: $h3_size;
  font-weight: bold;
  text-decoration: none;
  a {
    display: block;
    color: inherit;
    margin-left: 10px;
  }
}

// Bars that are links
@mixin bar_link($arrow) {
  &:after {
    @if $arrow == sprites-whiteArrowRight {
      @include sprites-whiteArrowRight;
    } @else if $arrow == sprites-grayArrowRight {
      @include sprites-grayArrowRight;
    }
    position: absolute;
    top: 50%;
    right: 9px;
    font-size: 32px;
    margin-top: -18px;
    content: "";
    padding: 0;
    width: 23px;
  }
}

// Bars that are accordions
@mixin bar_accordion {
  /* accordion closed */
  &[data-ur-state="disabled"] {
    &:after {
      position: absolute;
      top: 50%;
      right: 8px;
      font-size: 20px;
      margin-top: -15px;
      content: "+";
    }
  }

  /* accordion open */
  &[data-ur-state="enabled"] {
    &:after {
      position: absolute;
      position: absolute;
      top: 50%;
      right: 9px;
      font-size: 30px;
      margin-top: -22px;
      content: "-";
    }
  }
}

@mixin bar_gray1 {
  @include bar_base;
  @include bar_link(sprites-grayArrowRight);
  background: $gray1;
  border-top: $border_gray3;
  color: $gray5;
}

@mixin bar_gray2 {
  @include bar_base;
  @include bar_accordion;
  background: $gray2;
  border-top: $border_gray3;
  color: $gray5;
}

@mixin bar_gray3 {
  @include bar_base;
  @include grad_gray8;
  @include box-shadow($box_shadow);
  padding: 7px;
  text-align: center;
  margin-top: 10px;
}

@mixin bar_gray4 {
  @include bar_base;
  @include bar_link(sprites-grayArrowRight);
  color: $gray5;
  background-color: $gray2;
  border-bottom: $border_gray7;
  font-weight: lighter;
  font-size: $base_font_size;
  padding: 7px;
  margin: 0px -10px;
  a {
    margin-left: 0;
  }
}

@mixin bar_black {
  @include bar_base;
  @include bar_accordion;
  background-color: $black2;
  color: $white;
  border-bottom: $border_white;
  font-weight: lighter;
  font-size: $base_font_size;
  padding: 7px 10px;
  margin: 0px -10px;
}

@mixin bar_green2 {
  @include bar_base;
  @include bar_accordion;
  background: $green2;
  border-top: $border_green2;
  color: $green4;
}

.mw_bar_gray1 {
  @include bar_gray1;
}

.mw_bar_gray2 {
  @include bar_gray2;
}

.mw_bar_gray3 {
  @include bar_gray3;
}

.mw_bar_green2 {
  @include bar_green2;
}

.mw_bar_black {
  @include bar_black;
}
a.mw_bar_black {
  @include bar_link(sprites-whiteArrowRight);
}

.mw_bar_gray4 {
  @include bar_gray4;
}
