// Flex Box
// -----------------------------

/*
  - flex_box: add this class to get flex box properties
  - flex_box_item: add to the number of items that are in the container
*/

.mw_flex_box {
  @include display-box;
  @include box-orient(horizontal);
  @include box-align(stretch);
  .mw_flex_box_item_1 {
    display: block;
    @include box-flex(1);
  }
  .mw_flex_box_item_2 {
    display: block;
    @include box-flex(2);
  }
  .mw_flex_box_item_3 {
    display: block;
    @include box-flex(3);
  }
  .mw_flex_box_item_4 {
    display: block;
    @include box-flex(4);
  }
  .mw_flex_box_item_5 {
    display: block;
    @include box-flex(5);
  }
}

// Box
// -----------------------------

// .mw_box {
//   @include box-shadow($box_shadow);
//   @include border-radius($border_radius);
//   margin: $spacing;
//   overflow: hidden;
//   background: #fff;

//   [class*='mw_bar'][class*='mw_accordion'] {
//     @include border-radius($border_radius);
//     &[data-ur-state="enabled"] {
//       @include border-radius($border_radius $border_radius 0 0);
//     }
//   }
// }
