.mw_footer {
  background-color: $gray1;
  clear: both;
  padding: 30px 15px;
  color: $gray4;
  font-size: $base-font-size - 4px;
  line-height: $line_height/2;
  text-align: center;
  a {
    color: $gray4;
    img {
      height: 10px;
    }
  }
  span {
    display: inline-block;
    margin-right: 1px;
    margin-left: 1px;
  }
  p {
    padding-top: 15px;
  }
}
#siteleaving-overlay {
  display: none;
}
