.mw_header {
  background-color: $black2;
  text-align: center;
  color: $white;
  width: 100%;
  .login_search {
    display: none;
  }
  .logo {
    text-align: center;
    padding: 10px;
    position: relative;
    display: inline-block;
    z-index: 100;
    img {
      height: 25px;
    }
  }
  .mw_search {
    float: right;
    margin-bottom: 13px;
  }
  .search_box {
    form {
      clear: both;
      margin-bottom: -8px;
      input[type='submit'] {
        display: none;
      }
    }
  }
  .sprites-menu {
    float: left;
    margin-top: 5px;
    text-align: left;
  }
  .primary_navigation {
    text-align: left;
    margin-top: 45px;
    clear: both;
    a {
      display: block;
      br {
        display: none;
      }
    }
    > ul[data-ur-tabs-component="content"] {
      margin-top: 15px;
    }
    li.extra_cat {
      display: none;
    }
  }
  .logo_primari_list_search_contaoner {
    z-index: 50;
    position: absolute;
    top: 0;
    padding: 10px;
    width: 100%;
  }
}
